.heading
  margin 40px 0 28px
  font-family 'Playfair Display', serif

  &__title
    position relative
    margin 0
    font-size 40px
    font-weight normal
    text-transform uppercase
    line-height 40px
    overflow hidden

  &__title-text
    position relative
    padding 0 15px 0 0
    background #fff
    animation headingText unit($animationSpeed, 's') forwards
    z-index 2

  &__title-line
    position absolute
    right 0
    bottom 2px
    left 0
    height 2px
    background #000
    animation headingLine unit($animationSpeed * 2, 's') unit($animationSpeed, 's') forwards
    opacity 0
    z-index 1